#signUpPage {
    margin: 10%;
    width: 60%;
    align-content: center;
}
#userTable {
    margin-left: auto;
    margin-right: auto;
}
#palmTree {
    height: 30px;
    width: 30px;
}
#users {
    margin-left: 5%;
    margin-top: 5%;
}
#orders {
    margin-left: 5%;
    margin-top: 5%;
}
#jSecurity {
    margin-top: 10%;
    margin-left: 3%;
}
#userTable {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
canvas {
    margin-top: 3%;
}
#signUpForm {
    align-content: center;
}
#chartContainer {
    margin-top: 5%;
}
#userInfo {
    margin-left: 45%;
    margin-top: 10%;
}